.news-card {
  background-color: white;
  border-radius: 17px;
}

.news-card__container {
  width: 400px;
  height: 576px;
}

.news-card__img-container {
  width: 400px;
  height: 272px;
  position: relative;
}

.news-card__image {
  width: 400px;
  height: 272px;
  border-radius: 17px 17px 0 0;
}

.news-card__keyword {
  position: absolute;
  top: 24px;
  left: 24px;
  background-color: white;
  color: black;
  font-weight: 700;
  font-size: 14px;
  padding: 6px 12px;
  border-radius: 4px;
  text-transform: capitalize;
  /* z-index: 3; */
  user-select: none;
}

.news-card__bookmark-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 8px;
  background-color: white;
  position: absolute;
  top: 24px;
  right: 24px;
  cursor: pointer;
}

.news-card__bookmark-button {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
}

.news-card__bookmark-icon {
  width: 24px;
  height: 24px;
  opacity: 0.4;

  transition: opacity 0.3s linear;
}

.news-card__bookmark-icon:hover {
  opacity: 1;
}

.news-card__tooltip {
  position: absolute;
  top: 50px;
  right: 0;
  background-color: rgba(0, 0, 0, 0.85);
  color: #ffffff;
  padding: 6px 10px;
  border-radius: 4px;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 12px;
  line-height: 14px;
  white-space: nowrap;
  z-index: 2;
  pointer-events: none;
}

.news-card__text-container {
  padding: 20px 24px 24px 24px;
}

.news-card__date {
  width: 149px;
  height: 24px;
  margin: 0;
  padding: 0 0 12px;

  font-family: "Source Sans Pro", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  vertical-align: middle;
  color: #b6bcbf;
}

.news-card__title {
  width: 352px;
  height: 60px;
  margin: 0;
  padding: 0 0 16px;

  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0px;
  color: #1a1b22;
}

.news-card__description {
  width: 352px;
  margin: 0;
  padding: 0 0 18px;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0px;
  color: #1a1b22;

  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
}

.news-card__source {
  width: 121px;
  height: 20px;
  margin: 0;

  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.4px;
  text-transform: uppercase;
  color: #b6bcbf;
}

@media screen and (max-width: 768px) {
  .news-card__container {
    width: 224px;
    height: 420px;
  }

  .news-card__img-container {
    width: 224px;
    height: 150px;
  }

  .news-card__image {
    width: 224px;
    height: 150px;
  }

  .news-card__text-container {
    padding: 16px 16px 16px 16px;
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .news-card__title {
    width: 100%;
    overflow: hidden;

    font-weight: 400;
    font-size: 22px;
    line-height: 24px;
    letter-spacing: 0px;
    text-overflow: ellipsis;
  }

  .news-card__description {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0px;
  }

  .news-card__source {
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.4px;
  }
}

@media screen and (max-width: 480px) {
  .news-card__container {
    width: 288px;
    height: 440px;
  }

  .news-card__image {
    width: 288px;
  }
}
