.modal-with-form {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0.5s linear, opacity 0.25s linear;

  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 10px;

  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.5);

  z-index: 2;
}

.modal-with-form_opened {
  visibility: visible;
  opacity: 1;
}

.modal-with-form__container {
  margin: 0 auto;
  padding: 34px 36px 28px;
  z-index: 1;
  position: relative;

  display: block;

  border-radius: 10px;
  box-sizing: border-box;
  width: 100%;
  max-width: 430px;
  background-color: white;

  font-family: "Cabinet Grotesk";
  font-size: 16px;
  line-height: 20px;
}

.modal-with-form__title {
  margin: 0;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
}

.modal-with-form__form {
  display: flex;
  flex-direction: column;
}

.modal-with-form__label {
  margin: 30px 0 0;

  width: 100%;
  height: 100%;
  gap: 8px;

  display: flex;
  flex-direction: column;
}

.modal-with-form__label-text {
  margin: 0 0 8px;

  font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    sans-serif;
  font-size: 12px;
  line-height: 100%;
  color: #2f71e5;
}

.modal-with-form__input {
  margin: 0;
  padding: 10px 0;

  border: none;
  border-bottom: 1px solid #000000;
}

.modal-with-form__input::placeholder {
  font-family: "Inter", "Segoe UI", "Roboto", "Helvetica Neue", Arial,
    sans-serif;
  font-size: 14px;
  opacity: 0.5;
}

.modal-with-form__input_type_error {
  border: 2px solid rgb(255, 0, 0, 0.6);
}

.modal-with-form__error {
  margin: 0;
  padding: 0;
  display: block;

  color: #ff0000b2;
  line-height: 110%;

  visibility: hidden;
}

.modal-with-form_error_visible {
  visibility: visible;
}

.modal-with-form__submit-error {
  margin: 10px 0 0;
  display: block;

  color: red;
  font-size: 14px;
}

.modal-with-form__button-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 24px 0 0;
}

.modal-with-form__submit-btn {
  margin: 0;
  padding: 8px 16px;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;

  width: 100%;
  height: 64px;
  border: none;
  border-radius: 100px;
  background-color: #e6e8eb;
  color: #b6bcbf;

  cursor: pointer;
}

.modal-with-form__submit-btn_disabled {
  opacity: 0.3;
  cursor: auto;
}

.modal-with-form__toggle-text {
}

.modal-with-form__toggle-btn {
}

.modal-with-form__alt-wrapper {
  margin: 16px 0 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.modal-with-form__alt-text {
  margin: 0;
  height: 20px;
}

.modal-with-form__alt-btn {
  background-color: transparent;
  border: none;
  color: #2f71e5;
  height: 20px;

  cursor: pointer;
}

.modal-with-form__close-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;

  position: absolute;
  top: -50px;
  right: -47px;
  padding: 0;

  object-fit: cover;
  width: 40px;
  height: 40px;
  background-color: transparent;
  background-image: url("../../images/close.png");
  background-repeat: no-repeat;
  background-size: contain;
  border: none;

  cursor: pointer;
  transition: opacity 0.25s linear;
}

@media screen and (max-width: 768px) {
  .modal-with-form__label {
    margin: 25px 0 0;
    gap: 0;
  }
}
