.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 104px;
  background-color: #f5f6f7;
  width: 100%;
  box-sizing: border-box;
}

.main__title {
  display: flex;
  align-self: flex-start;
  margin: 0 0 64px;
  width: 712px;
  height: 46px;

  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-size: 40px;
  color: #1a1b22;
}

.main__news-card-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  box-sizing: border-box;
  gap: 16px;
  width: 100%;
}

.main__show-more-btn {
  margin: 64px 0 0;
  padding: 0px;
  width: 288px;
  height: 64px;
  background-color: white;
  border-radius: 80px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s linear;
}

.main__show-more-btn:hover {
  background-color: #e8e8e8;
}

.main__nothing-found-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f5f6f7;
  padding: 86px 542px 80px;
}

.main__nothing-found-img {
  width: 82.5px;
  height: 82.5px;
}

.main__nothing-found-title {
  width: 356px;
  height: 30px;

  font-family: "Roboto Slab", "Times New Roman", Times, serif;
  font-weight: 400;
  font-size: 26px;
  line-height: 30px;
  letter-spacing: 0px;
  text-align: center;
  color: #1a1b22;
}

.main__nothing-found-description {
  width: 356px;
  height: 48px;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0px;
  text-align: center;
  color: #b6bcbf;
}

.main__error {
  text-align: center;
  font-size: 18px;
  color: red;
  margin: 40px auto;
  background-image: url("../../images/not-found.png");
  background-repeat: no-repeat;

  width: 282.5px;
  height: 82.5px;
}

@media screen and (max-width: 768px) {
  .main {
    padding: 40px 32px;
  }

  .main__title {
    margin: 0 0 32px;
  }

  .main__news-card-container {
    gap: 8px;
    justify-content: flex-start;
  }
}

@media screen and (max-width: 480px) {
  .main__news-card-container {
    justify-content: center;
  }
}
