html {
  scroll-behavior: smooth;
}

.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  /* width: 24%; */
  width: auto;
  flex-shrink: 0;
  gap: 42px;

  background-color: transparent;
}

.navigation__home {
  padding: 0;

  border: none;
  background-color: transparent;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;

  cursor: pointer;
}

.navigation__links {
  display: flex;
  align-items: center;
  gap: 42px;
}

.navigation__sign-in {
  padding: 7px 44px;

  background-color: transparent;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  white-space: nowrap;

  border: white solid;
  border-width: 1px;
  border-radius: 100px;

  cursor: pointer;
}

.navigation__hamburger {
  display: none;
  font-size: 28px;
  color: white;
  background: transparent;
  border: none;
  cursor: pointer;
}

.navigation__saved-articles {
  padding: 0;

  border: none;
  background-color: transparent;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;

  cursor: pointer;
}

.navigation__author-wrapper {
  padding: 0 5px 0 12px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  width: 112px;
  height: 48px;
  opacity: 1;

  border: 1px solid white;
  border-radius: 100px;
  background-color: transparent;
}

.navigation__author-wrapper--saved {
  border: 1px solid black;
}

.navigation__author-link {
}

.navigation__author {
  padding: 0;

  background-color: transparent;

  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: white;
  border: none;

  cursor: pointer;
}

.navigation__logout-button {
  background: transparent;
  border: none;
}

.navigation__exit-icon {
  padding: 3px 0 0;
  background-color: transparent;
  cursor: pointer;
}

.navigation--saved button,
.navigation--saved .navigation__author {
  color: black;
  background: transparent;
  border: white;
}

@media screen and (max-width: 768px) {
  .navigation {
    gap: 16px;
  }
}

@media screen and (max-width: 480px) {
  .navigation__links {
    display: none;
  }

  .navigation__hamburger {
    display: block;
  }
}
