.mobile-menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  visibility: hidden;
  opacity: 0;
  transition: visibility 0.3s linear, opacity 0.3s linear;

  z-index: 2000;
  box-sizing: border-box;
}

.mobile-menu-overlay--open {
  visibility: visible;
  opacity: 1;
}

.mobile-menu {
  width: 100%;
  height: 100%;
  box-shadow: -2px 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
}

/* .mobile-menu--open {
  display: flex;
} */

.mobile-menu__container {
  background-color: #1c1c1e;
  color: white;
  padding: 0 20px 20px;
  border-radius: 8px;
  width: 100%;
  height: 230px;

  display: flex;
  flex-direction: column;
}

.mobile-menu__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  align-self: auto;
}

.mobile-menu__title {
  font-size: 20px;
  font-weight: bold;
}

.mobile-menu__close {
  align-self: flex-end;
  background: none;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: white;
}

.mobile-menu__link {
  margin: 20px 0;
  font-size: 18px;
  background: none;
  border: none;
  color: white;
  text-align: left;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.mobile-menu__signin {
  border: 2px solid white;
  padding: 12px;
  font-size: 18px;
  background: none;
  color: white;
  width: 100%;
  margin: 25px 0 0 0;
  display: flex;
  align-items: center;
  justify-content: center;

  width: 288px;
  height: 56px;
  border-radius: 100px;
  align-self: center;
  font-family: "Roboto", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
